@use "colors" as color;

.carousel-caption {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
  background-color: rgba(color.$primary_dark, .7);
}

.carousel-item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.dropdown-menu {
  border-radius: 0;
  min-width: 0;
  border: 0;
}

.card {
  background-color: lighten(color.$primary_light, 50);
}

.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  background-color: transparent;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: color.$primary_dark;
}

.nav-link {
  color: color.$primary_dark;
  &:hover {
    color: darken(color.$primary_dark, 1);
  }
}
.paginate_button{
  padding: .25rem .5rem;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem;
  color: #fff;
  background-color: color.$primary_dark;
  border-color: darken(color.$primary_dark, 1);
}